        <footer class="footer">            
            <ul class="footer__list">
                <li class="footer__item">Site Rules</li>
                <li class="footer__item">Terms</li>
                <li class="footer__item">Privacy</li>
                <li class="footer__item">Support</li>
                <li class="footer__item">Contact</li>
            </ul>

            <div class="footer__right">                
                <p class="footer__callout">Follow Us!</p>

                <div class="footer__icons">
                    <ion-icon src="/public/img/facebook.svg"></ion-icon>
                    <ion-icon src="/public/img/twitter.svg"></ion-icon>
                    <ion-icon src="/public/img/google.svg"></ion-icon>
                    <ion-icon src="/public/img/pinterest.svg"></ion-icon>
                </div>             
               
                <p class="footer__text">This is a personal project designed and built by Nathaniel Gorton. You can see the repository for this project and others, on Github @
                    <a href="https://github.com/njgorton" target="_blank" class="footer__link"><i class="devicon-github-plain"></i>/njgorton</a>.                   
                </p>         
            </div> 
            
            <p class="footer__copyright">
                Copyright &copy; 2018 <span>The Off-Grid Network</span>, all rights reserved.
                <br> 
                <a href="#">Nathaniel Gorton | Useful UI</a>
            </p>
        </footer>
        
        <% include ./scripts %>
   </body>
</html>