<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Lato:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
        <link rel="stylesheet" href="/public/style.css">  
        
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

        <title>The Offgrid Network</title>
    </head>

    <body>
        <header class="header">
            <h1 class="header__heading-primary">The Off-Grid Network</h1>
            <h2 class="header__heading-secondary">Where homesteaders get connected, and off-grid meets community.</h2>
        </header>