<nav class="navigation">
    <div class="navigation__search">
        <input type="search" class="search-text" placeholder="Search the site..." aria-label="Search through site content">
        <button type="submit" class="search-btn">
            <i class="fas fa-search"></i>
        </button>
    </div>
    
    <div class="navigation__user-profile">
        <p class="user-text">Logged in as:</p>
        <p class="user-name">njgorton</p>
        <img src="public/img/user-img.jpg" alt="User's profile Image" class="user-img">                                  
        <i class="fas fa-caret-square-down icon-menu"></i>                                                     
    </div>

    <ul class="navigation__list">
        <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Forum</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Education</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Resources</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">About</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
    </ul>
</nav>